@keyframes moveUpDownInfinit {
  0% {
    transform: translateY(1rem); }
  30% {
    transform: translateY(0rem); }
  70% {
    transform: translateY(-0.5rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes navAnimationHorizontal {
  0% {
    transform: translate(0, 0);
    flex-direction: column;
    align-items: unset;
    width: 50px;
    height: 100vh;
    opacity: 1; }
  49.99% {
    transform: translate(0, -50vh);
    flex-direction: column;
    align-items: unset;
    width: 50px;
    height: 100vh;
    opacity: 0.5; }
  50% {
    transform: translate(110vw, 0);
    width: 100%;
    height: 5rem;
    opacity: 0.5; }
  100% {
    transform: translate(0, 0);
    width: 100%;
    height: 5.5rem;
    opacity: 1; } }

@keyframes navAnimationVertical {
  0% {
    transform: translate(0, 0);
    width: 100%;
    height: 5rem;
    opacity: 1; }
  59.99% {
    transform: translate(110vw, 0);
    width: 100%;
    height: 5rem;
    opacity: 0.5; }
  60% {
    transform: translate(0, -50vh);
    flex-direction: column;
    align-items: unset;
    width: 6rem;
    height: 100vh;
    opacity: 0.5; }
  100% {
    transform: translate(0, 0);
    flex-direction: column;
    align-items: unset;
    width: 6rem;
    height: 100vh;
    opacity: 1; } }

@keyframes rotateEl {
  0% {
    transform: rotate(0); }
  99% {
    transform: rotate(0); }
  100% {
    transform: rotate(90deg); } }

@keyframes galleryShake {
  0% {
    transform: rotate(0.5deg);
    opacity: .3; }
  20% {
    transform: rotate(-0.5deg); }
  35% {
    transform: rotate(0.3deg); }
  50% {
    transform: rotate(-0.1deg); }
  70% {
    transform: rotate(0.1deg);
    opacity: 1; }
  100% {
    transform: rotate(0);
    opacity: 1; } }

.move-el-right {
  transform: translateX(25vw) translateY(50px);
  transition: transform .3s ease-in; }
  @media only screen and (max-width: 37.5em) {
    .move-el-right {
      transform: translateX(5vw) translateY(50px); } }
  .move-el-right--active {
    transform: translateX(0vw) translateY(0px); }

.move-el-left {
  transform: translateX(-25vw) translateY(5rem);
  transition: all .25s ease-in; }
  @media only screen and (max-width: 37.5em) {
    .move-el-left {
      transform: translateX(-5vw) translateY(50px); } }
  .move-el-left--active {
    transform: translateX(0vw) translateY(0px); }

@keyframes activeLink {
  0% {
    transform: translateY(-3px); }
  80% {
    transform: translateY(0px); }
  100% {
    transform: translateY(0.1px); } }

.link--underline {
  position: relative; }
  .link--underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-main);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-in; }
  .link--underline:hover:after {
    transform: scaleX(1);
    transform-origin: left; }

:root {
  --color-main: rgb(255, 255, 255);
  --color-main-9: rgba(255, 255, 255, 0.9);
  --color-main-8: rgba(255, 255, 255, 0.8);
  --color-main-7: rgba(255, 255, 255, 0.7);
  --color-main-6: rgba(255, 255, 255, 0.6);
  --color-main-5: rgba(255, 255, 255, 0.5);
  --color-main-1: rgba(255, 255, 255, 0.02);
  --color-secondary: rgb(0, 0, 0);
  --color-secondary-9: rgba(0, 0, 0, 0.9);
  --color-secondary-8: rgba(0, 0, 0, 0.8);
  --color-secondary-7: rgba(0, 0, 0, 0.7);
  --color-secondary-6: rgba(0, 0, 0, 0.6);
  --color-secondary-5: rgba(0, 0, 0, 0.5); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  line-height: 1.6;
  overflow-x: hidden;
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  background-color: var(--color-secondary); }

.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem; }

section {
  position: relative; }

img {
  width: 100%; }

a {
  text-decoration: none; }

.section-title-wrapper {
  position: relative;
  height: 100vh; }
  @media only screen and (max-width: 56.25em) {
    .section-title-wrapper {
      height: 50vh; } }

.section-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-10%); }
  .section-title--small-mr {
    top: 38vh; }
  .section-title__text {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10.8rem;
    font-family: 'Playfair Display', serif;
    color: var(--color-main); }
    .section-title__text--blank {
      color: var(--color-secondary);
      text-shadow: 1px 0 0 var(--color-main), -1px 0 0 var(--color-main), 0 1px 0 var(--color-main), 0 -1px 0 var(--color-main), 1px 1px var(--color-main), -1px -1px 0 var(--color-main), 1px -1px 0 var(--color-main), -1px 1px 0 var(--color-main); }
    @media only screen and (max-width: 37.5em) {
      .section-title__text {
        font-size: 7rem;
        line-height: 8.5rem; } }

.paragraph, p, a {
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 8rem;
  letter-spacing: -.5px; }
  .paragraph--width, p--width, a--width {
    margin-left: 35vw;
    width: 55vw; }
  .paragraph--blank, p--blank, a--blank {
    font-size: 4rem;
    color: var(--color-secondary);
    text-shadow: 1px 0 0 var(--color-main), -1px 0 0 var(--color-main), 0 1px 0 var(--color-main), 0 -1px 0 var(--color-main), 1px 1px var(--color-main), -1px -1px 0 var(--color-main), 1px -1px 0 var(--color-main), -1px 1px 0 var(--color-main); }
  @media only screen and (max-width: 37.5em) {
    .paragraph, p, a {
      font-size: 4rem;
      line-height: 7.5rem; } }

h4 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 3rem 0 .5rem 0; }

.wrapper--grid-2-col {
  display: grid;
  grid-template-columns: 40vw 50vw; }
  @media only screen and (max-width: 56.25em) {
    .wrapper--grid-2-col {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      padding: 0 10rem 0 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .wrapper--grid-2-col {
      padding: 0 2rem 0 2rem; } }

.grid-1-col {
  justify-self: center;
  margin: 90vh 0 0 0; }
  @media only screen and (max-width: 56.25em) {
    .grid-1-col {
      margin: 0; } }

.border-bottom {
  color: #362e2e;
  color: #b398a2;
  color: #0f0a03;
  color: #57c2f0; }

.mr-bt--lr {
  margin-bottom: 10rem; }

.mr-top--lr {
  margin-top: 50rem; }

.steps {
  position: relative;
  margin: 0 10vw 0 0; }
  @media only screen and (max-width: 37.5em) {
    .steps {
      margin: 0 5rem 0 1rem; } }
  .steps:before {
    content: '';
    position: absolute;
    top: .5rem;
    left: 0rem;
    height: 100%;
    width: .1rem;
    background-color: var(--color-main); }
  .steps__item {
    position: relative;
    padding: 0 0 10rem 7rem;
    align-items: flex-start; }
    .steps__item:last-child {
      padding: 0 0 0 7rem; }
  .steps__title {
    line-height: 4rem; }
  .steps__number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: .5rem;
    left: -1.5rem;
    height: 3rem;
    width: 3rem;
    opacity: 1 !important;
    border: 1px solid var(--color-main);
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: rgba(255, 255, 255, 0.2); }
  .steps__desc {
    display: inline-block;
    max-width: 80%;
    margin-top: 2rem;
    line-height: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .steps__desc {
        max-width: 100%; } }
  .steps__desc, .steps__number {
    font-size: 1.2rem; }
  .steps__information {
    display: block;
    margin-top: -3rem;
    margin-left: 6.9rem;
    font-size: 1.2rem;
    width: 50rem; }
    @media only screen and (max-width: 56.25em) {
      .steps__information {
        display: none; } }
  .steps__skills-link {
    text-transform: none;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.5rem;
    border-bottom: 1px solid white;
    cursor: pointer; }
    .steps__skills-link:hover .steps__skills-img {
      display: block; }
  .steps__skills-img {
    z-index: 5;
    display: none;
    position: absolute;
    top: -15rem;
    left: 50%;
    width: 20rem;
    transform: translateX(-50%); }

.fade-in > * {
  transition: all .3s ease-in; }
  .fade-in > *:nth-child(2), .fade-in > *:nth-child(3) {
    transform: translateX(5rem);
    opacity: 0; }

.active > *:nth-child(2), .active > *:nth-child(3) {
  transform: translateX(0rem);
  opacity: 1; }

.active > *:first-child {
  color: var(--color-secondary);
  background-color: var(--color-main); }

.round-text-btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--color-main);
  transition: all .2s ease-in;
  cursor: pointer; }
  .round-text-btn--sticky {
    position: sticky;
    top: 35vh;
    left: 10vw; }
    @media only screen and (max-width: 56.25em) {
      .round-text-btn--sticky {
        margin-top: 25rem;
        position: relative;
        top: unset;
        left: unset; } }
  .round-text-btn:hover {
    background-color: var(--color-secondary); }
  .round-text-btn:hover text {
    fill: var(--color-main); }

svg {
  width: 100%; }

text {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 21px;
  fill: var(--color-secondary); }

.portfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 95vh; }
  @media only screen and (max-width: 56.25em) {
    .portfolio {
      display: none; } }
  .portfolio__img--interior, .portfolio__img--food, .portfolio__img--booking {
    display: none; }
  .portfolio__link {
    align-self: flex-start;
    display: inline-block;
    margin-left: 30%;
    margin-top: 1.5rem;
    padding: .5rem;
    font-size: 3.4rem;
    line-height: 4rem;
    font-weight: 600;
    text-transform: uppercase; }
    .portfolio__link:hover ~ .portfolio__img-wrapper .portfolio__img {
      animation: galleryShake .5s ease-in; }
    .portfolio__link--interior:hover ~ .portfolio__img-wrapper--large .portfolio__img--interior,
    .portfolio__link--food:hover ~ .portfolio__img-wrapper--large .portfolio__img--food,
    .portfolio__link--booking:hover ~ .portfolio__img-wrapper--large .portfolio__img--booking,
    .portfolio__link--interior:hover ~ .portfolio__img-wrapper--medium .portfolio__img--interior,
    .portfolio__link--food:hover ~ .portfolio__img-wrapper--medium .portfolio__img--food,
    .portfolio__link--booking:hover ~ .portfolio__img-wrapper--medium .portfolio__img--booking,
    .portfolio__link--interior:hover ~ .portfolio__img-wrapper--small .portfolio__img--interior,
    .portfolio__link--food:hover ~ .portfolio__img-wrapper--small .portfolio__img--food,
    .portfolio__link--booking:hover ~ .portfolio__img-wrapper--small .portfolio__img--booking {
      display: block; }
  .portfolio__img-wrapper {
    position: absolute;
    overflow: hidden; }
    .portfolio__img-wrapper--large {
      bottom: 1rem;
      right: 0;
      height: 32rem;
      width: 55rem;
      border: 5px solid var(--color-main); }
    .portfolio__img-wrapper--medium {
      top: 0;
      left: 0;
      height: 40rem;
      width: 30rem;
      background-color: var(--color-main); }
    .portfolio__img-wrapper--small {
      top: 5%;
      right: 2rem;
      height: 20rem;
      width: 20rem;
      border: 25px solid var(--color-main); }

.portfolio-mobile {
  padding: 10rem 2rem 40vh 2rem;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .portfolio-mobile {
      display: flex;
      flex-direction: column; } }
  .portfolio-mobile__img-wrapper {
    position: relative;
    margin-top: 10rem; }
  .portfolio-mobile__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%); }
  .portfolio-mobile__img {
    width: 55%; }

.header {
  padding-top: 75vh;
  position: relative;
  background-color: var(--color-secondary); }

.nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 10px -8px var(--color-main);
  width: 100%;
  height: 5rem;
  align-items: center;
  padding: .5rem 2rem; }
  .nav--horizontal {
    animation: navAnimationHorizontal .4s ease-out forwards; }
  .nav--vertical {
    background-color: var(--color-secondary);
    animation: navAnimationVertical .4s ease-in forwards;
    padding: 0 1rem 0 2px; }
    .nav--vertical > * {
      animation: rotateEl .2s ease-in forwards; }
    .nav--vertical .nav__img-wrapper {
      margin: 2rem 0 5rem 0; }
    .nav--vertical .nav__img-desc {
      display: none; }
  .nav__wrapper {
    height: 20vh; }
  .nav__img-wrapper {
    margin-right: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden; }
  .nav__img {
    height: 100%;
    width: 100%; }
  .nav__img-desc {
    margin-right: auto;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 1px;
    color: var(--color-main);
    font-weight: 100; }
  .nav__list {
    display: flex; }
  .nav__link {
    position: relative;
    font-size: 1.2rem;
    line-height: 1rem;
    letter-spacing: .5px;
    color: var(--color-main);
    font-weight: 400; }
    .nav__link:not(:last-child) {
      margin-right: 3rem; }

.link--active:before {
  content: '';
  position: absolute;
  top: -1.25rem;
  left: 45%;
  height: .75rem;
  width: .75rem;
  border-radius: 50%;
  background-color: var(--color-main);
  animation: activeLink 1s .5s ease-out infinite; }

.section-about {
  margin: 30vh 0;
  text-align: left; }

.section-portfolio__wrapper {
  margin: 0 auto;
  padding: 0 .5rem; }

.section-portfolio__content {
  height: 100vh;
  max-width: 120rem;
  margin: 20vh auto; }

.section-work__content {
  margin: 20rem 0; }

.section-contact {
  padding: 0 10rem 5rem 10rem;
  margin-top: 75vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(4, max-content);
  grid-column-gap: 10rem;
  grid-row-gap: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 0 2rem 0 2rem;
      margin-top: 40rem;
      display: block; } }
  @media only screen and (max-width: 56.25em) {
    .section-contact > * {
      margin-top: 12rem; } }
  .section-contact__title {
    grid-column: 2/3;
    grid-row: 1/2; }
  .section-contact__text {
    grid-column: 1/2;
    grid-row: 2/3; }

a {
  color: var(--color-main); }

.changer {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-bottom: 5rem; }
  .changer__wrapper {
    display: flex;
    padding-bottom: 5rem; }
  .changer__color {
    position: relative;
    margin-right: 3rem;
    cursor: pointer;
    transition: transform .25s ease-out; }
    .changer__color:hover {
      transform: translateY(-0.5rem); }
  .changer__color-main {
    display: inline-block;
    height: 4rem;
    width: 4rem; }
    .changer__color-main--1 {
      background-color: white; }
    .changer__color-main--2 {
      background-color: #201d1d; }
    .changer__color-main--3 {
      background-color: #57c2f0; }
  .changer__color-secondary {
    position: absolute;
    top: 20%;
    left: 35%;
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid var(--color-main); }
    .changer__color-secondary--1 {
      background-color: black; }
    .changer__color-secondary--2 {
      background-color: #b398a2; }
    .changer__color-secondary--3 {
      background-color: #1d1204; }

.social {
  grid-column: 2/3;
  grid-row: 3/4; }
  .social__icon {
    margin-right: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    fill: var(--color-main);
    transition: transform .25s ease-out; }
    .social__icon:hover {
      transform: translateY(-0.5rem); }
