.wrapper--grid-2-col {
    display: grid;
    grid-template-columns: 40vw 50vw;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0 10rem 0 10rem;
    }

    @include respond(phone) {
        padding: 0 2rem 0 2rem;
    }
}

.grid-1-col {
    justify-self: center;
    margin: 90vh 0 0 0;

    @include respond(tab-port) {
        margin: 0;
    }
}

.border-bottom {
    color: rgb(54, 46, 46);
    color: rgb(179, 152, 162);
    color: rgb(15, 10, 3);
    color: rgb(87, 194, 240);
}

.mr-bt--lr {margin-bottom: 10rem;}

.mr-top--lr {margin-top: 50rem;}